<ion-header>
  <ion-toolbar>
    <ion-title>Weather Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-bottom: 20%;">
    <ion-row>
      <ion-col *ngFor="let forecast of this.forecastArr; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{forecast.shortForecast}}</ion-card-subtitle>
            <ion-card-title>{{forecast.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                {{forecast.temperature}}&deg;{{this.getTempUnit().toUpperCase()}}
              </ion-row>
              <ion-row>
                {{forecast.windSpeed}} {{forecast.windDirection}}
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>