<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="sunny-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>