<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drizzly Bear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="getLocation($event)" snapback-duration="500ms" pull-min=120
    pull-max=360>
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div style="margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
    <div style="text-align: center; font-size: 3pc;">
      {{this.locationText}}
    </div>

    <div style="text-align: center; font-size: 1pc;">
      <ion-header>{{this.text}}</ion-header>
    </div>
  </div>
  <ion-button (click)="presentModal()">
    Open
  </ion-button>

</ion-content>