<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drizzly Bear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drizzly Bear</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="getLocation()">Get Current Weather</ion-button>
  </div>

  <ion-header>{{this.text}}</ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="sunny-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button fill="clear" size="large">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>